/*-------------- Font Upload------------ */
@font-face {
  font-family: "gilroy-regular";
  src: url(assets/fonts/Gilroy-Regular.otf);
  src: url(assets/fonts/Gilroy-Regular.ttf);
  src: url(assets/fonts/Gilroy-Regular.woff);
  src: url(assets/fonts/Gilroy-Regular.woff2);
}
@font-face {
  font-family: "gilroy-bold";
  src: url(assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "gilroy-extra-bold";
  src: url(assets/fonts/Gilroy-ExtraBold.ttf);
}
/* RUBIK BOLD */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,700&display=swap");
/* ------------ END FONT UPLOAD------------ */
/* ------------RESET CSS---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------END RESET CSS---------- */

/* -----------Layout CSS --------*/

/*--------------------- COMMON CSS------------------- */
body {
  font-family: "gilroy";
}
/*-------- Layout CSS------------*/
.container {
  max-width: 1080px;
  margin: 0 auto;
}
/*-------- Layout CSS------------*/
/*--------------  BUTTON CSS----------- */
.btn {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: auto;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "gilroy-bold";
  background-color: red;
  color: #ffffff;
}
/*------------------- END COMMON CSS------------- */
/* ---------WAVE BACKGROUND-------------- */
.wave-bottom-one {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-bottom-one svg {
  position: relative;
  display: block;
  width: calc(152% + 1.3px);
  height: 148px;
  transform: rotateY(180deg);
}

.wave-bottom-one .shape-fill {
  fill: #ffffff;
}

.wave-bottom-three {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-bottom-three svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 88px;
  transform: rotateY(180deg);
}

.wave-bottom-three .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-top-1722069678 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1722069678 svg {
  position: relative;
  display: block;
  width: calc(272% + 1.3px);
  height: 126px;
}

.custom-shape-divider-top-1722069678 .shape-fill {
  fill: #ffffff;
}
/* ---------WAVE BACKGROUND-------------- */
/*---------STARTED MENU SECTION----- */

header {
  background-image: linear-gradient(#7b11f9, #7922d8, #3636b2);
  background-position: center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  z-index: 1;
}

.menu-btn-section {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 36px; */
}
.menu-btn-section a {
  position: relative;
  font-family: "gilroy-bold";
  text-decoration: none;
  color: #ffffff;
  padding: 0 10px;
}
.nav-button a {
  margin: auto;
}

.menu-btn-section a:after {
  content: "";
  background-color: white;
  margin: 0 auto;
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s ease;
}
.menu-btn-section a:hover::after {
  width: 100%;
}
.nav-button a:hover::after {
  width: 0%;
}
.logo {
  width: 40%;
}
.logo a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 24px;
}
.menu-btn {
  display: none;
}

/*---------ENDED MENU SECTION----- */
/* ----------STARTED HERO SECTION---------- */
.hero-row-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 40px;
}
/* -------STARTED hero-coloum-left--------- */
.hero-coloum-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
}
.hero-coloum-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-coloum-one h1 {
  max-width: 541px;
  font-family: "gilroy-bold";
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  line-height: 65px;
}
.hero-coloum-one p {
  max-width: 500px;
  color: #ffffffa0;
  font-family: "gilroy-regular";
  font-size: 19px;
  line-height: 32px;
  font-weight: 100;
}
.hero-coloum-next {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-coloum-next p {
  color: #ffffff;
  font-family: "gilroy-bold";
  font-size: 13px;
}
.hero-button {
  max-width: 195px;
}
.hero-button a {
  color: #ffffff;
  text-decoration: none;
  font-family: "gilroy-bold";
}
/* -------END hero-coloum-left--------- */
/* -------START hero-coloum-right--------- */
.hero-coloum-right {
  width: 35%;
  position: relative;
  text-align: right;
}

.main-image-right {
  width: 100%;
  border-radius: 10px;
}
.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 140px;
}
.middile-img {
  position: absolute;
  left: auto;
  right: -83px;
  top: 264px;
}
.behind-img {
  position: absolute;
  z-index: -1;
  right: 86px;
  top: 122px;
}
.top-right-corner {
  position: absolute;
  top: -30px;
  right: -34px;
  z-index: -1;
}
/* ------------START TEAM MEMBER SECTION------------- */
.team-member-inner {
  max-width: 992px;
  display: flex;
  justify-content: center;

  margin: 190px auto;
  position: relative;
  padding: 40px;
}
.team-member-left {
  width: 60%;
  background-image: url(assets/images/team-member-centre-img.png);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-repeat: no-repeat;
}

.team-member-images {
  position: relative;
}
.team-member-1 {
  position: absolute;
  top: -61px;
  right: 180px;
}
img.team-member-2 {
  position: absolute;
  top: 27px;
  right: -8px;
}

img.team-member-3 {
  position: absolute;
  top: 179px;
  right: -4px;
}

img.team-member-4 {
  position: absolute;
  right: 104px;
  top: 271px;
  bottom: auto;
}

img.team-member-5 {
  position: absolute;
  top: 345px;
  right: 215px;
}

img.team-member-6 {
  position: absolute;
  left: -30px;
  top: 243px;
}

img.team-member-7 {
  position: absolute;
  left: -5px;
  top: 22px;
}
.team-member-dots {
  position: absolute;
  left: 102px;
  top: 160px;
  z-index: -1;
}
.team-member-Rectangle {
  position: absolute;
  top: 255px;
  right: 100px;
  z-index: -1;
}
/* -------------STARTED Team-Member-Right-------------  */
.team-member-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.member-right-first-row h2 {
  max-width: 375px;
  font-size: 48px;
  line-height: 58px;
  font-family: "gilroy-bold";
  letter-spacing: -1.8px;
}
.member-right-first-row p {
  max-width: 375px;
  font-size: 19px;
  line-height: 32px;
  font-family: "gilroy-regular";
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.517);
}
.member-right-second-row h4 {
  /* max-width: 201px; */
  font-size: 21px;
  line-height: 32px;
  font-family: "gilroy-bold";
  letter-spacing: -0.5px;
}
.member-right-second-row p {
  /* max-width: 201px; */
  font-size: 17px;
  line-height: 29px;
  font-family: "gilroy-regular";
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.517);
}

/* -------------ENDED Team-Member-Right-------------  */

/* ---------ENDED TEAM MEMBER SECTION--------------- */

/* --------STARTED REMOTE TEAM ----------------------*/
.remote-team-inner {
  max-width: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 190px auto;
  padding: 40px;
  position: relative;
}
.remote-team-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.remote-team-right {
  width: 50%;
  position: relative;
}
.remote-team-right-main {
  background-image: url(assets/images/remote-team-main-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 100vh;
}

.remote-team-left-first-row h2 {
  max-width: 469px;
  font-size: 48px;
  line-height: 58px;
  font-family: "gilroy-bold";
  letter-spacing: -1.8px;
}
.remote-team-left-first-row p {
  max-width: 375px;
  font-size: 19px;
  line-height: 32px;
  font-family: "gilroy-regular";
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.517);
}
.remote-team-left-second-row h4 {
  font-size: 21px;
  line-height: 32px;
  font-family: "gilroy-bold";
  letter-spacing: -0.5px;
}
.remote-team-left-second-row p {
  font-size: 17px;
  line-height: 29px;
  font-family: "gilroy-regular";
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.517);
}
.remote-team-left-first-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.remote-team-left-second-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
img.content-remote-team {
  position: absolute;
  top: 115px;
  right: 212px;
}

img.remote-top-right-corner {
  position: absolute;
  top: -32px;
  right: 93px;
  z-index: -1;
}

img.Group-4-remote-team {
  position: absolute;
  top: 252px;
  left: 53px;
}
img.green-dotted-remote-team {
  position: absolute;
  bottom: 71px;
  left: 25px;
  z-index: -1;
}
/* .remote-team-main-image {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
} */

/* --------ENDED REMOTE TEAM ----------------------*/
/* ---------STARTED HOW WORK SECTION---------- */
.how-work-wrapper {
  position: relative;
}
.how-work-inner {
  max-width: 1010px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 500px auto;
  padding: 40px;
}

.how-work-first-row {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.how-work-first-row h3 {
  font-size: 48px;
  font-family: "gilroy-bold";
  line-height: 58px;
  letter-spacing: -1.8px;
}

.how-work-first-row p {
  font-size: 19px;
  max-width: 468px;
  text-align: center;
  font-family: "gilroy-regular";
  line-height: 32px;
  letter-spacing: -0.2px;
}

.how-work-main-coloum {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.how-work-child-coloum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.heading-sequence {
  text-align: center;
}
.heading-sequence h4 {
  background-color: #f64b4b;
  width: 73px;
  height: 73px;
  border-radius: 100%;
  padding: 10px;
  font-size: 36px;
  font-family: "gilroy-bold";
  color: #ffffff;
}
.green h4 {
  background-color: #68d585;
}
.blue h4 {
  background-color: #473bf0;
}
.how-work-child-title h4 {
  font-size: 21px;
  font-family: "gilroy-bold";
  line-height: 32px;
}
.how-work-child-p p {
  color: #161c2d;
  max-width: 253px;
  font-family: "gilroy-regular";
  line-height: 29px;
}

/* ---------ENDED HOW WORK SECTION---------- */
/*----------- STARTED VIDEO SECTION---------- */
.Video-wrapper {
  position: relative;
}

.Video-wrapper img {
  width: 100%;
  position: absolute;
  top: -400px;
  bottom: 10%;
  z-index: 1;
  padding: 40px;
}

/*-----------ENDED VIDEO SECTION---------- */

/* -------started TESTIMONIAL section---------- */

.testimonial-wrapper {
  background-image: linear-gradient(to left, #313c59, #161c2d);
  position: relative;
}
.testimonial-inner {
  position: relative;
  max-width: 1009px;
  margin: 10px auto;
}
.testimonial-frst-row-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 40px;
}
.testimonial-child-fst-head {
  margin-top: 225px;
}

.testimonial-child-fst-head h3 {
  max-width: 630px;
  font-size: 48px;
  font-family: "gilroy-bold";
  line-height: 58px;
  letter-spacing: -1.5px;
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}
.body-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}
.box-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.box-title h4 {
  font-size: 21px;
  line-height: 32px;
  font-family: "gilroy-bold";
  color: #ffffff;
}
.box-prgph p {
  max-width: 274px;
  font-size: 17px;
  line-height: 29px;
  font-family: "gilroy-regular";
  color: rgba(245, 241, 241, 0.517);
}
.testimonial-child-fst-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.testimonial-second-child-fst-head h3 {
  max-width: 650px;
  font-size: 48px;
  font-family: "gilroy-bold";
  line-height: 58px;
  letter-spacing: -1.5px;
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}
.testimonial-second-row-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.second-row-main-1st-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
}
.fst-child-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.fst-child-prgrph p {
  max-width: 520px;
  font-size: 21px;
  line-height: 32px;
  font-family: "gilroy-regular";
  color: #161c2d;
}
.fst-child-name p {
  font-size: 17px;
  line-height: 29px;
  color: #161c2d;
  font-family: "gilroy-regular";
}
.testimonial-btn a {
  text-decoration: none;
  color: #68d585;
  font-size: 17px;
  font-family: "gilroy-bold";
}
.testimonial-btn button {
  background-color: transparent;
  border: 1px transparent solid;
}

/* -------ENDED TESTIMONIAL section---------- */
/*----------- STARTED PRICING SECTION------------- */
.pricing-wrapper {
  background-color: #f4f7fa;
  margin-top: 50px;
  position: relative;
}
.pricing-inner {
  padding: 40px;
}
.pricing-fst-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.pricing-fst-row h3 {
  max-width: 630px;
  font-size: 48px;
  line-height: 58px;
  font-family: "gilroy-bold";
  letter-spacing: -1.8px;
}
.pricing-fst-row p {
  max-width: 468px;
  font-size: 19px;
  line-height: 32px;
  font-family: "gilroy-regular";
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.517);
  text-align: center;
}
/*-----------ENDED PRICING SECTION------------- */
/* -------STARTED PACKAGES SECTION------------- */
.pricing-coloum-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e7e9ed;
}
.pricing-coloum-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  margin: 0 auto;
  text-align: center;
}

.package-title {
  color: #f64b4b;
  font-size: 13px;
  font-family: "gilroy-bold";
  text-transform: uppercase;
}
.number {
  font-family: "gilroy-bold";
  font-size: 40px;
}
.pricing-scnd-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 50%;
  margin: 100px auto;
}
.pricing-scnd-row-coloum {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 18px;
  border: 1px solid #e7e9ed;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.unlimited-pack {
  background-color: #ffffff;
}
.pricing-scnd-row-coloum P {
  display: inline;
  padding: 20px 10px;
  border-bottom: 1px solid #e7e9ed;
  font-family: "gilroy-regular";
}
.pricing-coloum-title p {
  font-family: "gilroy-bold";
  border-bottom: none;
}
.black-btn {
  background-color: #161c2d;
}
.btn a {
  text-decoration: none;
  color: #ffffff;
}
/*--------------- STARTED FOOTER SECTION------------ */
.footer-inner {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.footer-fst-coloum {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.footer-scnd-coloum {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.footer-coloum {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}
.first-row-head-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.first-row-head p {
  color: #161c2d8a;
  font-size: 15px;
  font-family: "gilroy-regular";
}
.first-row-head-details a {
  color: #161c2d;
  text-decoration: none;
  font-family: "gilroy-regular";
  font-size: 17px;
  line-height: 40px;
}
/*---------STARTED RESPONSIVE CSS----------- */
@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .menu-btn-section {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(137, 43, 226, 0.823);
    backdrop-filter: blur(5px);
    width: 65%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    gap: 25px;
    transition: right 0.9s ease;
  }

  .menu-btn-section a {
    margin-top: 20px;
    padding: 0 20px;
  }

  .menu-btn i {
    color: #ffffff;
  }
  .menu-btn i {
    font-size: 2.3em;
  }

  .fa-xmark i {
    margin: 0 10px;
    font-size: 2.3em;
  }
  .fa-xmark i:hover::after {
    width: 0%;
  }

  /*-------------- STARTED HERO SECTION----------- */
  .hero-coloum-left {
    width: 100%;
  }

  .hero-coloum-right {
    width: 100%;
  }

  .hero-row-inner {
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  img.top-right-corner {
    right: -16px;
  }

  img.middile-img {
    right: 90px;
    /* display: none; */
    width: 100%;
    top: 349px;
  }

  img.behind-img {
    right: 34px;
  }

  /* --------------STARTED WAVES IN HEADER-------- */
  .custom-shape-divider-bottom-1720885984 {
    display: none;
  }
  /* --------------ENDED WAVES IN HEADER-------- */

  .team-member-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }

  .team-member-left {
    width: 100%;
    height: 249px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  .team-member-right {
    width: 100%;
    margin-top: 50px;
  }

  img.team-member-1 {
    right: 154px;
    top: -147px;
  }

  img.team-member-2 {
    top: -142px;
    right: -39px;
  }
  img.team-member-3 {
    right: -24px;
    top: 182px;
  }

  img.team-member-4 {
    right: 69px;
    top: 195px;
  }

  img.team-member-5 {
    top: 50px;
    right: 191px;
  }

  img.team-member-6 {
    top: 170px;
    left: -68px;
  }

  img.team-member-dots {
    display: none;
  }

  img.team-member-Rectangle {
    right: 50px;
  }

  img.team-member-7 {
    left: 48px;
    top: -139px;
  }
  .member-right-first-row {
    margin: 30px auto;
  }
  /* -------STARTED REMOTE TEAM SECTION---------- */
  .remote-team-inner {
    flex-direction: column;
    gap: 30px;
  }

  .remote-team-left {
    text-align: center;
    width: 100%;
  }

  .remote-team-right {
    width: 100%;
  }

  img.remote-top-right-corner {
    display: none;
  }
  img.content-remote-team {
    right: -22px;
  }

  img.green-dotted-remote-team {
    left: -25px;
  }
  /*---------------- STARTED HOW WORK SECTION------------- */
  .how-work-main-coloum {
    flex-direction: column;
  }

  .how-work-first-row {
    text-align: center;
  }
  .heading-sequence h4 {
    padding: 14px;
  }
  .how-work-inner {
    margin: 0;
  }
  .Video img {
    padding: 40px;
    width: 100%;
  }
  .Video-wrapper img {
    top: -50px;
  }
  /*---------------- ENDED HOW WORK SECTION------------- */

  .testimonial-child-fst-body {
    grid-template-columns: repeat(1, 1fr);
  }
  .second-row-main-1st-child {
    align-items: unset;
  }

  .fst-child-prgrph p {
    font-size: 13px;
  }
  /* --------STARTED PRICING SECTION */
  .pricing-scnd-row {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .pricing-scnd-row-coloum {
    width: 100%;
  }
  /*------------- Footer section started--------- */
  .footer-fst-coloum {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .first-row-head p {
    font-size: 20px;
  }
}
